[Unit]
Description=etcd
Documentation=https://github.com/etcd-io/etcd

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name {{ inventory_hostname }} \
  --initial-advertise-peer-urls http://{{ internal_ip }}:2380 \
  --listen-peer-urls http://{{ internal_ip }}:2380 \
  --listen-client-urls http://{{ internal_ip }}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls http://{{ internal_ip }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {{ inventory_hostname }}=http://{{ internal_ip }}:2380 \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
