---
- name: Create etcd directories
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    mode: "{{ item.mode }}"
  loop:
    - { path: /etc/etcd, mode: "0755" }
    - { path: /var/lib/etcd, mode: "0700" }

- name: Push etcd binaries from Jumpbox to controllers
  ansible.posix.synchronize:
    src: "{{ jumpbox_setup_downloads_dir }}/{{ item.src }}"
    dest: "{{ item.dest }}"
  delegate_to: jumpbox
  loop:
    - { src: controller/etcd, dest: /usr/local/bin/etcd }
    - { src: client/etcdctl, dest: /usr/local/bin/etcdctl }

- name: Set permissions on etcd binaries
  ansible.builtin.file:
    path: "/usr/local/bin/{{ item }}"
    mode: "0755"
  loop:
    - etcd
    - etcdctl

- name: Copy certificates to /etc/etcd
  ansible.builtin.copy:
    src: "/root/{{ item }}"
    dest: "/etc/etcd/{{ item }}"
    mode: "0644"
    remote_src: true
  loop:
    - ca.crt
    - kube-api-server.crt
    - kube-api-server.key

- name: Install etcd.service unit file
  ansible.builtin.template:
    src: etcd.service.j2
    dest: /etc/systemd/system/etcd.service
    mode: "0644"
  notify: Restart etcd

- name: Start and enable etcd service
  ansible.builtin.service:
    name: etcd
    state: started
    enabled: true
    daemon_reload: true
