---
- name: Install worker dependencies
  ansible.builtin.apt:
    name:
      - socat
      - conntrack
      - ipset
    state: present
    update_cache: true

- name: Disable swap
  ansible.builtin.command: swapoff -a
  changed_when: false

- name: Create worker directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - /etc/cni/net.d
    - /opt/cni/bin
    - /var/lib/kubelet
    - /var/lib/kube-proxy
    - /var/lib/kubernetes
    - /var/run/kubernetes
    - /etc/containerd

- name: Push worker binaries from Jumpbox to workers
  ansible.posix.synchronize:
    src: "{{ jumpbox_setup_downloads_dir }}/{{ item.src }}"
    dest: "{{ item.dest }}"
  delegate_to: jumpbox
  loop:
    - { src: worker/kubelet, dest: /usr/local/bin/kubelet }
    - { src: worker/kube-proxy, dest: /usr/local/bin/kube-proxy }
    - { src: worker/containerd, dest: /bin/containerd }
    - {
        src: worker/containerd-shim-runc-v2,
        dest: /bin/containerd-shim-runc-v2,
      }
    - { src: worker/containerd-stress, dest: /bin/containerd-stress }
    - { src: worker/runc, dest: /usr/local/bin/runc }
    - { src: worker/crictl, dest: /usr/local/bin/crictl }
    - { src: client/kubectl, dest: /usr/local/bin/kubectl }

- name: Set permissions on worker binaries
  ansible.builtin.file:
    path: "{{ item }}"
    mode: "0755"
  loop:
    - /usr/local/bin/kubelet
    - /usr/local/bin/kube-proxy
    - /bin/containerd
    - /bin/containerd-shim-runc-v2
    - /bin/containerd-stress
    - /usr/local/bin/runc
    - /usr/local/bin/crictl
    - /usr/local/bin/kubectl

- name: Push CNI plugins from Jumpbox to workers
  ansible.posix.synchronize:
    src: "{{ jumpbox_setup_downloads_dir }}/cni-plugins/"
    dest: "/opt/cni/bin/"
  delegate_to: jumpbox

- name: Set permissions on CNI plugins
  ansible.builtin.file:
    path: /opt/cni/bin/
    mode: "0755"
    recurse: true

- name: Configure CNI networking
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/etc/cni/net.d/{{ item }}"
    mode: "0644"
  loop:
    - 10-bridge.conf
    - 99-loopback.conf

- name: Load br_netfilter kernel module
  community.general.modprobe:
    name: br_netfilter
    state: present

- name: Enable br_netfilter on boot
  ansible.builtin.lineinfile:
    path: /etc/modules-load.d/modules.conf
    line: br_netfilter
    create: true
    mode: "0644"

- name: Set sysctl for kubernetes networking
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    sysctl_file: /etc/sysctl.d/kubernetes.conf
    reload: true
  loop:
    - { name: net.bridge.bridge-nf-call-iptables, value: "1" }
    - { name: net.bridge.bridge-nf-call-ip6tables, value: "1" }

- name: Install component configs
  ansible.builtin.template:
    src: "{{ item.src }}.j2"
    dest: "{{ item.dest }}"
    mode: "0644"
  loop:
    - { src: containerd-config.toml, dest: /etc/containerd/config.toml }
    - { src: kubelet-config.yaml, dest: /var/lib/kubelet/kubelet-config.yaml }
    - {
        src: kube-proxy-config.yaml,
        dest: /var/lib/kube-proxy/kube-proxy-config.yaml,
      }
  notify: Restart worker services

- name: Install systemd unit files
  ansible.builtin.template:
    src: "{{ item }}.service.j2"
    dest: "/etc/systemd/system/{{ item }}.service"
    mode: "0644"
  loop:
    - containerd
    - kubelet
    - kube-proxy
  notify: Restart worker services

- name: Start and enable worker services
  ansible.builtin.service:
    name: "{{ item }}"
    state: started
    enabled: true
    daemon_reload: true
  loop:
    - containerd
    - kubelet
    - kube-proxy
